//- layouts.app
doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    block title
      title Default title

    meta(content="width=device-width, initial-scale=1" name="viewport")


    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="css/bootstrap-grid.min.css")
    link(rel="stylesheet" href="css/bootstrap-reboot.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet" href="css/main.css")

  body
    block content

    script(type="text/javascript" src="js/vendor/jquery.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
    script(type="text/javascript" src="js/vendor/bootstrap.bundle.min.js")
    script(type="text/javascript" src="js/vendor/bootstrap.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
    script(type="text/javascript" src="js/main.js")
    block scripts
